$cor-principal: rgb(17, 199, 223);
$cor-secundaria: rgb(8, 124, 95);

// Funções
@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin cor-e-texto($cor-fundo, $cor-texto) {
    width: 50%;
    background-color: $cor-fundo;

    .texto {
        margin-top: 40%;
        text-align: center;
        font-size: 5em;
        color: $cor-texto;
    }
}

body {
    @include reset(); /* No caso, os parênteses não são obrigatórios */
}

.container {
    height: 100vh;
    display: flex;

    .esquerdo {
        @include cor-e-texto($cor-principal, $cor-secundaria);
    }

    .direito {
        @include cor-e-texto($cor-secundaria, $cor-principal);
    }
}