$cor-principal: limegreen;
$cor-secundaria: purple;


body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;

    .texto {
        margin-top: 40%;
        text-align: center;
        font-size: 5em;
    }

    .esquerdo, .direito {
        width: 50%;
    }

    .esquerdo {
        background-color: $cor-principal;

        .texto {
            color: $cor-secundaria;
        }
    }

    .direito {
        background-color: $cor-secundaria;

        .texto {
            color: $cor-principal;
        }
    }
}